<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
    <head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='vendor/jquery/jquery-2.0.2.min.js') }}"><\/script>')</script>
    {% assets filters="jsmin", output="min/main.js",
        'vendor/bootstrap/js/bootstrap.min.js',
        'vendor/modernizr-2.6.2-respond-1.1.0.min.js',
        'vendor/jquery/plugins/tmpl.min.js'
    %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets filters="cssmin", output="min/main.css",
      'vendor/bootstrap/css/bootstrap.min.css',
      'vendor/bootstrap/css/bootstrap-responsive.min.css'
    %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}

    <script id="alert-template" type="text/x-jquery-tmpl">
        <div class="alert alert-${status} fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading" id="alert-heading">${message}</h4>
        </div>
    </script>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script type="text/javascript">
            {% for category, message in messages %}
            $(function () {
                var flash_message = $('#alert-template').tmpl({
                        status: '{{category}}',
                        message: '{{message}}'
                    }).prependTo('#body').fadeOut(3000);
            });
            {% endfor %}
            </script>
        {% endif %}
    {% endwith %}

    {% endblock %}
    </head>
    <body>
        <div id="body" class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
