{% from "_form_helpers.html" import render_field %}
{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8">
            <form name="login" class="form-horizontal" method="POST">
                <div class="control-group">
                    {{ form.csrf_token }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}